.btn {
    outline: none;
    border: none;
    margin: 3px;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    background: transparent;
    transition: background 0.25s;
}
    .btn:hover {
        background: rgba(255, 255, 255, 0.5);
    }